# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Ignore all node_modules
node_modules/*

# Re-include @prisma/client
!node_modules/@prisma/
!node_modules/@prisma/client/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example